/* Global Light Theme */
.light {
  background-color: #fff;
  color: #282828;
}

/* Global Dark Theme */
.dark {
  background-color: #282828;
  color: #fff;
}

.darkBackground {
  background-color: #323232;
}